<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/navbar.ejs') %>
    <h1>All Blogs</h1>
    <div class="blogs content">
      <% if(blogs.length>0){%> <% blogs.forEach(el=> { %>
      <h2 class="title"><%= el.title %></h2>
      <p class="snippet"><%= el.snippet %></p>
      <% }) %> <% } else{ %>
      <p>There are no blogs to display</p>
      <% } %>
    </div>
  </body>
  <%- include('./partials/footer.ejs') %>
</html>
